h1	{
	color:	gold;
	margin-top: 50px;
}

div.sample {
	text-align: center;
	margin-left: 25%;
	margin-right: 25%;
}

.navbar-fixed-top{
	color: #00FF08;
    background-color: #186BEA;
}

.navbar-inverse{
	border-color: silver;
}

.navbar-inverse .navbar-nav > li > a{
	color: #00FF08;
}

.navbar-inverse .navbar-brand{
	color: #00FF08;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #FF2424;
}
