{% extends "bootstrap/base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}"/>
{% endblock %}
{% block navbar %}

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
      </button>
      <a class="navbar-brand"href="{{ url_for('home') }}">Connect Four Project</a></div><div id="navbar"class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
		<li id="home-tab"><a href="{{ url_for('home') }}">Accueil</a></li>
		<li id="jouer-tab" class="dropdown"><a href="{{ url_for('jouer') }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Jouer<span class="caret"></span></a>
			<ul class="dropdown-menu" role="menu">
			<li><a href="{{ url_for('jouer') }}">Player vs Player</a></li>
			<li><a href="{{ url_for('jouer_ia_tres_facile') }}">Très facile</a></li>
			<li><a href="{{ url_for('jouer_ia_facile') }}">Facile</a></li>
			</ul>
		</li>
	  </ul></div>
    <!--/.nav-collapse -->
  </div>
</nav>
{% endblock %}
{% block content %}
<div class="container theme-showcase" role="main">
  {% block main %}<h1>{{ title }}</h1>{% endblock %}
</div>

{% endblock %}
{% block scripts %}
	{{ super() }}
	<script>
		{% block js %}
			var curtab = "home-tab";
		{% endblock %}
		$(function () {	
			$("#"+curtab).addClass("active");
		});
	</script>
{% endblock %}
