{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='grille.css') }}"/>
{% endblock %}
{% block grille %}
	<div class="row">
		{% if Grille(session['grille']).puissance4() %}
			<div class="alert alert-info" role="alert">Puissance 4!</div>
		{% elif Grille(session['grille']).estRemplie() %}
			<div class="alert alert-warning" role="alert">Partie Nulle</div>
		{% endif %}
		<div class="col-xs-12 col-xs-offset-0 col-sm-8 col-sm-offset-2 col-md=6 col-md-offset-3">
		{% for row in Grille(session['grille']).grille %}
			<div class="row">
				{% for cell in row %}
					{% if loop.first %}
						<div class="col-xs-1 padding-0px col-xs-offset-1">
					{% else %}
						<div class="col-xs-1 padding-0px">
					{% endif %}
												<a href="{{ url_for(url,col=loop.index0) }}">
					{% if cell == None %}
						<img class="jeton" src="{{ url_for('static',filename='images/grille.png') }}" alt="place libre">
					{% elif cell.joueur == Grille(session['grille']).joueur1%}
						<img class="jeton" src="{{ url_for('static',filename='images/grilleJetonJoueur1.png') }}" alt="place libre">
					{% else %}
						<img class="jeton" src="{{ url_for('static',filename='images/grilleJetonJoueur2.png') }}" alt="place libre">
					{% endif %}
												</a>
					</div><!-- /class="col-xs-1 padding-0px" -->
				{% endfor %}
			</div>
		{% endfor %}
		</div>
	</div>
{% endblock %}
